<?xml version="1.0" encoding="utf-8"?>
<!--
	~ (C) 2020-2023 Hunter J Drum
	~ (C) 2024 MDP43140
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
	<queries>
		<intent>
			<action android:name="android.intent.action.MAIN" />
		</intent>
	</queries>
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:name=".App"
		android:requestLegacyExternalStorage="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:exported="true"
			android:name=".ui.MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:exported="false"
			android:name=".ui.BlacklistActivity"
			android:parentActivityName=".ui.SettingsActivity"
			android:label="@string/blacklist" />
		<activity
			android:exported="false"
			android:name=".ui.WhitelistActivity"
			android:parentActivityName=".ui.SettingsActivity"
			android:label="@string/whitelist" />
		<activity
			android:exported="false"
			android:name=".ui.SettingsActivity"
			android:parentActivityName=".ui.MainActivity"
			android:label="@string/settings" />
		<activity
			android:exported="false"
			android:name=".ui.ErrorActivity"
			android:label="@string/crashLog" />
		<service
			android:exported="false"
			android:name=".CleanupService"
			android:label="Cleanup Service" />
		<receiver
			android:exported="false"
			android:name=".BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<activity
			android:name=".PanicResponderActivity"
			android:exported="true"
			android:launchMode="singleInstance"
			android:noHistory="true"
			android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="info.guardianproject.panic.action.TRIGGER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
</manifest>